#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
}

.drawer-content {
  width: 400px;
  color: #1a1a1a;
}

.rsd-drawer {
  background-color: red;
}

label {
  width: 40px;
  display: inline-block;
}
